@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Julius+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.Contactdiv {
  background: url("../media/texture.jpg") rgb(245, 241, 241) 50% / cover
    no-repeat;
  background-blend-mode: overlay;
  min-height: 100vh;
}
.Contact {
  font-family: "Julius Sans One", sans-serif;
  display: flex;
  max-width: 100%;
  border-radius: 20px 20px 4px 4px;
  background: linear-gradient(180deg, #edb61d 59.12%, #876710 100%);
  box-shadow: 0px -6px 14px 6px rgba(0, 0, 0, 0.25);
  min-height: 400px;
  padding: 20px;
}
.ContactContent {
  margin: 60px auto;
  animation: 200ms ease-in-out 0s 1 fadeIN;
  max-width: 60%;
}

.ContactInputs {
  flex-basis: 75%;
  flex-direction: column;
  padding-inline: 35px;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.ContactInputs h2 {
  font-weight: bolder;
  font-size: 34px;
  box-shadow: 0px -6px 14px 6px rgba(0, 0, 0, 0.25);
  width: fit-content;
  padding: 10px;
  border-radius: 2px;
  flex-grow: 0;
}
.ContactInputs p {
  color: aliceblue;
  text-align: justify;
}

.Contact a:hover {
  color: aliceblue;
}
.item {
  display: flex;
  justify-content: center;
}

.social {
  row-gap: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  flex-wrap: wrap;
  flex-grow: 1;
}
.socialname a {
  margin: 0;
  margin-left: 10px;
  color: black;
  text-decoration: none;
  font-size: 16px;
}
.socialname {
  min-height: fit-content;
  align-self: center;
}

@media only screen and (max-width: 600px) {
  .Contact {
    max-width: 80%;
    margin: 0 auto;
    border-radius: 20px 20px 4px 4px;
    min-height: 300px;
    padding: 20px;
    align-items: center;
  }
  .ContactContent {
    margin: 15px auto;
    max-width: 100%;
  }

  .ContactInputs {
    flex-basis: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  .ContactInputs h2 {
    font-weight: bolder;
    font-size: 26px;
    align-self: center;
    box-shadow: 0px -6px 14px 6px rgba(0, 0, 0, 0.25);
    width: fit-content;
    padding: 10px;
    border-radius: 4px;
  }

  .social {
    row-gap: 30px;

    margin: 80px auto;
  }
}
