@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Julius+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@keyframes fadeIN {
  0% {
    opacity: 0;
    scale: 0.8;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}
.home {
  width: 100%;
  background: #f7f7f7;
  font-family: "Julius Sans One", sans-serif;
}
.homeContent {
  animation: 200ms ease-in-out 0s 1 fadeIN;
}
.title {
  font-size: 4em;
  font-weight: 400;
  font-style: normal;
  margin: 126px auto 0;
  width: fit-content;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.desc {
  text-align: center;
  max-width: 954px;
  margin: 23px auto;
}

.works {
  cursor: pointer;
  background-color: black;
  color: #f7f7f7;
  width: 173px;
  height: 58px;
  text-align: center;
  line-height: 60px;
  font-weight: bolder;
  margin: 60px auto;
  border-radius: 5px;
  box-shadow: 0px 5px 9px 6px rgba(0, 0, 0, 0.25);
}
.works a {
  color: #f7f7f7;
  text-decoration: none;
}
.works:hover {
  box-shadow: 0px 3px 6px 4px #edb61d;
  color: #edb61d;
}
.works a:hover {
  color: #edb61d;
}
.section {
  border: 1px black solid;
  background: url("../media/texture.jpg") rgb(245, 241, 241) 50% / cover;

  width: 332px;
  height: 176px;
  border-radius: 300px 300px 0 0;
  box-shadow: 0px -17px 14px 6px rgba(0, 0, 0, 0.25);

  margin: 130px auto 0px;
}
@media only screen and (max-width: 600px) {
  .home {
    width: 100%;
    overflow: hidden;
  }
  .title {
    margin: 220px auto 0;
    text-align: center;
    font-size: 46px;
  }

  .desc {
    font-size: 15px;
    max-width: 90%;
  }

  .works {
    cursor: pointer;
    font-size: 15px;
    margin: 80px auto;
  }

  .section {
    visibility: hidden;
  }
}
