@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Julius+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.Worksdiv {
  background: #f7f7f7;
  min-height: 100vh;
}
#s1 {
  animation: 200ms ease-in-out 0s 1 fadeIN;
}
#s2 {
  animation: 300ms ease-in-out 0s 1 slideInFromLeft;
}
#s3 {
  animation: 300ms ease-in-out 0s 1 slideInFromRight;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.next a {
  font-size: 80px;
  color: #edb61d;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
}
.next a:hover {
  font-size: 140px;
  color: #000000;
}
.Works {
  font-family: "Julius Sans One", sans-serif;
  display: flex;
  margin-top: 60px;
  max-width: 65%;
  border-radius: 20px 20px 20px 0px;
  background: linear-gradient(180deg, #edb61d 59.12%, #876710 100%);
  box-shadow: 0px -6px 14px 6px rgba(0, 0, 0, 0.25);
  min-height: 400px;
}

.Worksimagediv {
  background: url(../media/site1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  flex-basis: 35%;
}

.Worksdesc {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  padding-inline: 35px;
  justify-content: space-evenly;
}
.Worksdesc h2 {
  font-weight: bolder;
  font-size: 34px;
  box-shadow: 0px -6px 14px 6px rgba(0, 0, 0, 0.25);
  width: fit-content;
  padding: 10px;
  border-radius: 2px;
}
.Worksdesc p {
  color: aliceblue;
  text-align: justify;
}
a {
  align-self: flex-end;
  margin: 30px;
}
.Works a:hover {
  color: aliceblue;
}

@media only screen and (max-width: 600px) {
  .slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .next a {
    font-size: 50px;
  }
  .next a:hover {
    font-size: 50px;
    color: #000000;
  }
  .Works {
    display: flex;
    max-width: 85%;
    border-radius: 0px 0px 20px 20px;
    min-height: 400px;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .Worksimagediv {
    background-size: cover;
    background-position: center;
    height: 100px;
    flex-basis: 35%;
    padding: 100px;
  }

  .Worksdesc {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
    justify-content: space-evenly;
  }
  .Worksdesc h2 {
    font-size: 24px;
    align-self: center;
  }

  a {
    align-self: flex-end;
  }
  .Works a:hover {
    color: aliceblue;
  }
}
